/* base.html stuff */
body {
	margin:  0;
	background: #1a1a1d;
}

a{
    text-decoration:none;
}

@font-face{
    font-family: myLogo;
    src: url('Flamenco-Regular.ttf');
}

@font-face{
    font-family: myh1;
    src: url('Lorenta.ttf');
}

@font-face{
    font-family: mybtn;
    src: url('Exo-Regular.ttf');
}

@font-face{
    font-family: myBody;
    src: url('antaro.otf');
}

h1{
    text-align:right;
    font-family: myLogo;
    font-size: 30px;
}

svg {
	width: 100%;
	height: 101vh;
}
/****************************************************************************************************************/

/* base pages and base stuff*/

.page-content {
	width: 100%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v4-content  {
	background: #e3e2df;
	width: 1350px;
	height: 750px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	display: flex;
	display: -webkit-flex;
	font-family: myBody;
	background-image: url('Images/min2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	border: 8px solid white;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-v4-content h2 {
	font-weight: 700;
	font-size: 30px;
	padding: 6px 0 0;
	margin-bottom: 34px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
/****************************************************************************************************************/

/* results page */

.results-form-v4-content  {
	background: #e3e2df;
	width: 470px;
	height: 470px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 50px 0;
	position: relative;
	display: flex;
	display: -webkit-flex;
	font-family: myBody;
	animation: content 600ms ease-out;

}

.results-form-v4-content li{
    list-style:none;
}

.icon{
    color:#8796aa;
}

.icon:hover{
    transition-duration: 0.3s;
    color:#5e7187;
}

.results {
    width: 100%;
    border-radius: 5px;
    padding-top:20px;
    padding-right:40px;
    color:black;
    background-color: white;
    margin: 0;

}

@keyframes content{
    0%{
        transform: scale(0.5)
    }

    100%{
        transform: scale(1)
    }
}
/****************************************************************************************************************/

/* box left */

.form-v4-content .box-left .button{
    background: #fe8884;
    font-family: myBody;
    padding: 12.5px;
    border:none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #404c59;
	font-weight: 600;
	font-size: 14px;
	border-radius:5px;
	font-family:mybtn;
}

.form-v4-content .box-left .button:hover {
	background: #fd6d68;
	transition-duration: 0.3s;
}

.form-v4-content .box-left .button:disabled {
  /**background: #999;
  color: #d3d3d3;*/
  cursor: not-allowed;
}

.box-left{
    width: 35%;
    /**
    clip-path: polygon(0 0, calc(100% - 5vh) 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, calc(100% - 10vh) 0, 100% 100%, 0 100%);*/
    margin-right: -4.2vh;
    padding: 5px 11vh 5px 5px;
    background-color: #4b5868;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:#a3a2aa;
    justify-content:left;

	}

.form-v4-content .box-left .dropdown{
    font-family: myBody;
    width: 90%;
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;
	color: black;
	border-radius:5px;
	padding: 11.5px 15px;
}

.text-box{
    width: 85%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    /*border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: myBody;
    font-size: 15px;
	border: 1px solid #fff;
	background: #e3e2df;
	color: black;
	border-radius:5px;
}
/****************************************************************************************************************/

/* box right */

.right-text-box{
    width: 82%;
    padding: 11.5px 15px;
    /*border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: myBody;
    font-size: 15px;
    border: 2px solid #d3d3d3;
	background-color: #d3d3d3;
	color: black;
	border-radius:5px;
}

.form-v4-content .box-right .button{
    color: white;
    font-family: myBody;
    background-color:#950740;
    padding: 12.5px;
    border: 2px solid #b11b5c;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius:5px;
}

.form-v4-content .box-right .button:hover{
    background: #6f1139;
    transition-duration: 0.3s;
}

.box-right{
    width: 65%;
    /**
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 5vh) 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 10vh) 100%);*/
    padding-right:20px;
    text-align: center;

	}

.form-v4-content .box-right .button:disabled {
  background: #999;
  color: #d3d3d3;
  cursor: not-allowed;
}
/****************************************************************************************************************/

/* Responsive */
@media screen and (max-width: 991px) {
	.form-v4-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v4-content .form-left {
		width: auto;
	}
	.form-v4-content .form-detail {
		padding: 30px 20px 30px 20px;
	    width: auto;
	}
}

@media screen and (max-width: 575px) {
	.form-v4-content .form-detail .form-group {
		flex-direction: column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
		margin: 0;
	}
	.form-v4-content .form-detail .form-group .form-row.form-row-1 {
		width: 100%;
		padding:  0;
	}
}
/****************************************************************************************************************/


