{% extends 'base.html' %}

{% block content %}
<body class="form-v4">
		<div class="page-content">
			<div class="results-form-v4-content">
				<div class="results">
                <img style="margin-left:100px;" src="https://media.istockphoto.com/id/1290734777/vector/404-error-page-vector-design.jpg?s=612x612&w=0&k=20&c=sD8EngvQQHJ-nTUxTTZAKcN1bBa2XclTTfF2j4-WGiQ=" height="250px" width="250px">
                <div style="padding:20px;margin-left:50px;">
                        <h4>OOPS! Songer couldn't find your page; looks like it doesn't exist.</h4>
                        <h4>If you entered the URL manually, please check your spelling and try again.</h4>
                </div>
				</div>
			</div>
		</div>
</body>
{% endblock %}

