<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <script src="https://kit.fontawesome.com/1a25e9523c.js" crossorigin="anonymous"></script>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">

      <title>{% block title %} {% endblock %} | Songer</title>
      <!--a href="{{ url_for('index') }}"><h1>SONGER</h1></a>-->
    {% endblock %}
  </head>

  <body>
        {% block content %} {% endblock %}
  </body>
</html>