{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<script src="https://kit.fontawesome.com/1a25e9523c.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Enter Songs {% endblock %}

{% block content %}
	<div class="form-v4">
		<div class="page-content ">
			<div class="form-v4-content">
				<div class="box-left">
					<div style="margin-left:9px; margin-bottom:140px;margin-top:15px;">
						<label class="button" style=" padding: 2px;" onclick="myFunction()"  id="formButton">Link a Playlist</label>
					</div>
					<div style="margin-left:50px;margin-bottom: 55px;">
						<p style="font-size: 45px; font-weight:900; margin:0;color:#fe8884;font-family: myh1;">DISCOVER</p>
						<p style="margin:0; font-size: 30px;color:#d3d3d3;">A new favourite song</p>
						<p style="margin:0.5; color:#e8e2e7; font-size: 15px;color:#d3d3d3;">Tell Songer your favourite songs, and it'll try to find songs that sound just like those!</p>
					</div>
					<form style="margin-left:50px;" method="POST" action="{{ url_for('index') }}" id="song_form">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<input type='hidden' name='action' value='submit_song'>
						<select id="song_dropdown" name="title" style="height: 46.5px" class="dropdown">
							<option style="color:gray" selected="selected" hidden>Choose Songs</option>
							{% for song in song_list %}
							  <option>{{ song }}</option>
							{% endfor %}
						</select>
						<br>
						{% if songs %}
							<h4>YOUR SONGS:</h4>
							{% for song in songs %}
								{{song.track_name}} by {{ song.artist_name }} <a href="{{ url_for('delete_song', title=song.track_name, artist=song.artist_name) }}"><i style="margin-left:5px; color:#d3d3d3;" class="fa-regular fa-square-minus"></i></a>
						<br>
						{% endfor %}
						{% endif %}
						<br>
							<input disabled id="save_and_add" style="margin-right:15px" class="button" type="submit" name = "add_another" value="SAVE & ADD ANOTHER">
							<input disabled id="save_and_submit" class="button" type="submit" name = "submit" value="SAVE & SUBMIT">
					</form>

					<form style="margin-left:50px;;display:none;" action="{{ url_for('index') }}" method="post" id="playlist_form">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<input type='hidden' name='action' value='submit_playlist'>
						<div style="margin-top:14px;" id="playlist_txt">
							{{ playlist_form.playlist_link(class_='right-text-box', placeholder="Spotify Playlist Link") }}
						</div>
						{% if playlist_form.playlist_link.errors %}
								<div class="errors">
									{% for error in playlist_form.playlist_link.errors %}
										{{ error }}
									{% endfor %}
								</div>
						{% endif %}
						<input style="margin-top:30px;" class="button" type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="box-right">
					<a style="margin-right:25px; color:#4b5868;" href="{{ url_for('index') }}"><h1>Songer</h1></a>
				</div>
			</div>
		</div>
	</div>
<script>
    dropdownList = document.querySelector('#song_dropdown');
    dropdownList.onchange = (ev) =>{
      let selectedIndex = dropdownList.selectedIndex;
      let selectedOption = dropdownList.options[selectedIndex];
      if (selectedOption.text != "Choose Songs"){
		document.getElementById("save_and_add").disabled = false;
		document.getElementById("save_and_submit").disabled = false;
      }
    }

function myFunction() {
  var songForm = document.getElementById("song_form");
  var button = document.getElementById("formButton");
  var playlistForm = document.getElementById("playlist_form");
  if (songForm.style.display === "none") {
    songForm.style.display = "block";
    playlistForm.style.display = "none";
    button.innerHTML = "Link a Playlist";
  } else {
    songForm.style.display = "none";
    playlistForm.style.display = "block";
    button.innerHTML = "Choose Songs";
  }
}
</script>


{% endblock %}


