{% extends 'base.html' %}
<head>
<script src="https://kit.fontawesome.com/1a25e9523c.js" crossorigin="anonymous"></script>
</head>

{% block title %} Recommendations {% endblock %}

{% block content %}
	<body class="form-v4">
		<div class="page-content">
			<div class="results-form-v4-content">
				<div class="results">
					<ul>
						<div>
						{% for song in songs %}
						<li><img style="border-radius:5px; float:left; margin-right:15px;" width="60px" height="60px"
							 src="https://media.istockphoto.com/id/1205771672/vector/young-man-listen-to-music-on-headphones-music-therapy-guy-profile-avatar.jpg?s=612x612&w=0&k=20&c=CqTw8UXCSxtyyPZxJOFLdWt8GiETIbkdjRDs94-hQCI=">
						<div style="float:right; margin-top:10px;"><a href= "https://open.spotify.com/track/{{ song[2] }}" target="_blank" title="Open with Spotify"><i style="font-size: 35px;" class="fa-regular fa-circle-play icon"></i></a></div>
						<div style="font-weight:bold;">{{ song[1] }}</div>
							<div style="color: #8796aa">{{ song[0] }}</div></li>
					<br>
					<br>
					{% endfor %}
						</div>
					</ul>
				</div>

			</div>
		</div>
	</body>
{% endblock %}

